html {
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    color: white;
}

.container {
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#meme {
    border: white solid 10px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.special {
    align-items: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
}

h2 {
    font-size: medium;
    text-align: center;
}