<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form to Proceed</title>
</head>
<h1>It works!</h1>
<form action="{{url_for('action')}}" method="post" target="_blank">
    <label for="username">Name:</label> <br>
    <input type="text" name='username' placeholder="Name"> <br>
    <label for="password">Password:</label> <br>
    <input type="password" name='password' placeholder="***"> <br>
    <input type="submit" value="OK"></input>
</form>

<body>

</body>

</html>