<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Egor's Personal Site</title>
    <link rel="stylesheet" href="static/pers_styles.css">
</head>

<body>
    <table cellspacing="20">
        <tbody>
            <tr>
                <td>
                    <div class="image-cropper">
                        <img class='photo' src="{{ url_for('static', filename='img/egor.jpg') }}" alt="egor profile picture">
                    </div>
                </td>
                <td>
                    <h1>Egor Nazdrikhin</h1>
                    <p>I am an Python data analyst. I ❤️ boardgames and my cat.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Study</h3>
    <ul>
        <li>Highier School of Economics - BA in Economics</li>
        <li>New Economics School - BA in Economics</li>
        <li>Hghier School of Economics - Master in Finance (unfinished)</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2017-2018</td>
                <td>Consultant at SBS, Moscow</td>
            </tr>
            <tr>
                <td>2019-2020</td>
                <td>Management Trainee at Colgate</td>
            </tr>
            <tr>
                <td>2020-2023</td>
                <td>GTN&Performance Analyst at Colgate</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
        <tbody>
            <tr>
                <td>Data Analytics</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Python Development</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Programming</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Excel</td>
                <td>⭐️⭐️⭐️⭐️⭐️</td>
            </tr>
            <tr>
                <td>Boardagames</td>
                <td>⭐️⭐️⭐️⭐️</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <!-- <a href="https://angelabauer.github.io/cv/hobbies.html">My Hobbies</a> -->
    <!-- <a href="https://angelabauer.github.io/cv/contact-me.html">Contact Me</a> -->
    <a href="#">My Hobbies</a>
    <a href="#">Contact Me</a>


    <input type="hidden" id="DotmetricsPanelUserId" value="adbf04d756dc6ae41858de6c84c2"><input type="hidden" id="DotmetricsPanelHouseholdId" value="rm_panelist"></body>

</html>